<%= form_for [@wordset, @word] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :term %><br>
        </programlisting>
      </informalexample>
    <%= f.text_field :term %>
  </p>
  <p>
    <%= f.label :definition %><br>
    <%= f.text_area :definition %>
  </p>
  <%= f.submit %>
<% end %>