<%= form_for Wordset.new do |f| %>


  <p>
    <%= text_field :url, "URL" %>
  </p>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 3 %>
  </p>
  <%= f.submit %>
<% end %>