<%= form_for(@wordset) do |f| %>
  <%= f.error_messages :header_message => "Name field is required!",
    :message => "You need to fill in 'Name'",
    :header_tag => :h3 %>

  <div class="field">
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :url, "URL" %>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 3 %>
  </p>
  </div>

  <%= f.fields_for :words do |builder| %>
    <fieldset>
      <%= builder.label :term, "Term" %>
      <%= builder.text_field :term %><br />
      <%= builder.label :definition, "Definition" %>
      <%= builder.text_field :definition %><br />
      <%= builder.hidden_field :_destroy %>
      <%= link_to "Remove Word", '#', class: "remove_fields" %>
    </fieldset>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>