<%= form_for(@wordset) do |f| %>
  <!-- add in errors dealy. railscast 1:36 -->

  <div class="field">
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :url, "URL" %>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 3 %>
  </p>
  </div>

  <%= f.fields_for :words do |builder| %>
    <fieldset>
      <%= builder.label :term, "Term" %>
      <%= builder.text_field :term %><br />
      <%= builder.label :definition, "Definition" %>
      <%= builder.text_field :definition %><br />
      <%= builder.check_box :_destroy %>
      <%= builder.label :_destroy, "Remove Word" %>
      <!-- Obviously gonna need a "Definition" field in here too -->
    </fieldset>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>