<!DOCTYPE html>
<html>
<head>
<h1><%= @wordset.name %></h1>
</head>
<body>
<b>From <%= @wordset.url %></b>

<p><%= link_to "Edit", edit_wordset_path(@wordset) %> this WordSet or its terms and definitions.</p>
<p><%= link_to "Delete", wordset_path(@wordset), method: :delete, confirm: "Are you sure you want to delete this WordSet?" %> this WordSet.</p>

  <div class="container-fluid">
  <div class="row">
    <div class="span6">
      <h2>Terms</h2>
      <li>
        <% @words.each do |word| %>
          <li><%= word.term %></li>
        <% end %>
      </li>
    </div>
    <div class="span6">
      <h2>Definitions</h2>
      <li>
        <% @words.each do |word| %>
          <li><%= word.definition %></li>
        <% end %>
      </li>
    </div>
  </div>
</div>
<%= link_to "Add New Word", new_wordset_word_path(@wordset) %>
</body>
</html>